
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.7; }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#logo {
    position: sticky;
    top: 23px;
    left: 10px;
    width: 12%;
    height: 4%;
    z-index: 1;
    opacity: 0.4;
    border-radius: 30px;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.login_div_container {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%; /* adjust this to your needs */
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    z-index: 1;
    animation: fadeIn 10s ease-in-out;
    background-color: rgb(75, 79, 75);
}
.login_div {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#glow_login:hover {
    box-shadow: 0 0 20px #ff6600;
}
#login_text{
    color: #ff6600;
    font-size: 30px;
    margin-bottom: 30px;
}
#uname_label, #pword_label{
    color: #ff6600;
}
#login_button{
    margin-top: 30px;
    background-color: #715845;
    border-color: #49433b;
   
}
#front_body_id{
    padding: 0;
}
#alerts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 500px;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#welcome_header{
    position: absolute;
    left: 90vh;
    font-size: 50px;
    animation: fadeInOut 10s;
    animation-fill-mode: forwards;
    color: #000000;
    z-index: 2;
}
#search_box {
    position: sticky;
    top: 100px;
    width: 500px;
    display: block;
    margin-top: 20%;
    margin-left: 40%;
    box-shadow: 0 0 2000px #000000;
    opacity: 0.5;

}
#search_button{
    font-size: 19px;
    color: cadetblue;
    border-radius: 10px;
    border-color: #141312;
    background-color: #000000;
    margin-left: 2px;
    opacity: 0.3;

}
#search_button:hover{
    background-color: #14c69c;
    color: #ffffff;
    opacity: 0.5;
}
#nav_bar::before {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(181, 188, 183, 0);
}
#nav_bar {
    position: sticky;
    top: 0;
    width: 100%;
    color: #000000;
    z-index: 2;
}

.navbar-brand{
    color: #ff0000;
    font-size: 30px;
    margin-left: 100px;
    opacity: 1 ;
}
#navbarNav{
    position: absolute;
    left: 60vh;
    justify-content: center;
}
.nav-item a{
    color: rgb(39, 39, 39);
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 0;
    letter-spacing: 5px;
    margin-left: 30px;
    opacity: 1;
    z-index: 3;
}
.nav-item a:hover{
    color: #141312;
    text-decoration: none;
    font-size: 37px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    opacity: 1;
    /*box-shadow: 0 0 100px #219816;*/
    border: none;
    outline: none;
    z-index: 3;
}

#squirrel { 
    width: 400px; 
    height: 400px; 
    background-image: url('muinaisorava.gif'); 
    background-repeat: no-repeat;  
    transform: 0 ;
    position: absolute; 
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px; 
    z-index: 3;
  } 

.lower_body_container{
    position: absolute;
    top: 1500px;
    width: 100%;
    height: 60%;
    background-color: #b3a9a9;
    color: #ffffff;
    display: flex; 
    opacity: 0.7;
    justify-content: center; 
    flex-direction: row; 
    margin: auto; 
}
.cover_text_container{
    position: relative;
    justify-content: center;
    background-color: #b3a9a9;
    margin-left: 0;
    margin-top: 20px;
    
    width: 100vh;
    height: 300px;
    font-size: 30px;
}
#lower_body_text{
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 15px;
    background-color: blue;
}
.backdiv{
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: -3;
}
#frontbackimg{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}
#add_content_body{
    background-image: url('../media/imgs/forestbackmountainimg_add_content.jpg');
    background-repeat: no-repeat;
    display: flex; 
    opacity: 1;
    justify-content: center; 
    flex-direction: row; 
    margin: auto; 
}
.add_content_container{
    
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 100%;
    display: flex; 
    opacity: 0.5;
    justify-content: center; 
    flex-direction: row; 
    margin: 0; 
}
#add_content_div_img{
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 95vh;
    display: flex; 
    opacity: 1;
    justify-content: center; 
    flex-direction: row; 
    margin: 0; 
}
#add_content_form{
    position: absolute;
    opacity: 1;
    bottom: 50%;
    left: 25%;
    width: 1700px;
    height: 500px;
 
}
#add_animal_flash{
    position: absolute;
    background-color: aquamarine;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 500px;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.object_list_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.object_list_container img {
    flex: 1 0 auto;
    margin: 5px;
    max-width: 100%;
    height: auto;
}