{% extends 'base.html'%}
{% from "macros/generalform.html" import form_field %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Add an animal</h1>
    
    <form action="{{ url_for('users.image_upload') }}" enctype="multipart/form-data" method="post">
        {{ form2.hidden_tag() }}
      {% for field in form2 %} 
        {{ form_field(field) }} 
      {% endfor %} 
      <div class="form-group"> 
        <div class="col-sm-offset-3 col-sm-9"> 
          <input type="file" name="file">
          <button type="submit" class="btn btn-default">Upload</button>
          <a class="btn" href="{{ url_for('main.index') }}">Cancel</a> 
        </div> 
      </div> 
    </form> 
     
    </div> 
  </div> 
</body>
</html>
    
    {% endblock %}