{% extends 'base.html' %}

{% from "macros/generalform.html" import form_field, navbar %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Animal list</title>
</head>
<body>
    {{navbar()}}

    <div class="object_list_container">

        {% for animal in pictures %}
          
                <img src="{{ animal.picture_url_slug }}" alt="animal" class="object_list_img">
                
                
            </div>
        {%endfor%}
    </div>
    <h1>Animal list</h1>

</body>
</html>
    
    {% endblock %}