{% extends 'base.html' %}
{% from "macros/generalform.html" import form_field, navbar, message_macro %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page</title>
    
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/squirrelanimate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    
</head>
<body id="front_body_id">
   

    {{navbar()}}
    <div class="video-background">
        <video class="video-background" autoplay muted loop id="bgVideo">
            <source src="static/media/frontvideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <!--<h1>Animal database</h1>-->
                <p></p>
            </div>
        </div>
    </div>

    </head> 
    <body> 
      <div id="squirrel"></div> 
      <form class="form-inline well" id="search_box" method="get" action="{{ url_for('main.search')}}" role="form"> 
        <div class="input-group"> 
        <input class="form-control input-xs" name="q" placeholder="Search..."  /> 
        <div id="results"></div>
        <span class="input-group-btn"> 
            <button class="btn btn-default" id="search_button" type="submit">Search</button> 
        </span> 
        </div> 
    </form> 
    </body> 
    </html>
   
   
    <div class="backdiv">
        <img src="{{ url_for('static', filename='media/imgs/forestbackimg.jpg') }}" alt="frontbackimg" id="frontbackimg">
    </div>
    
<div class="lower_body_container">
    
    <div class="cover_text_container">
        
            <h1>Welcome to animal database</h1>
            <p>Welcome to our comprehensive Animal Database! This is your one-stop resource for detailed information about a wide variety of animals from around the globe. Whether you're a student researching for a project, a teacher preparing for a lesson, or simply an animal</br> enthusiast, our database is designed to provide you with the most accurate and up-to-date information.</br>

                Our database covers a vast array of species across all classifications of life. From the smallest insects to the largest mammals, from the most common pets to the most exotic wildlife, </br>our goal is to help you understand and appreciate the incredible diversity of animal life.
                
                Each entry in our database provides a wealth of information, including the animal's scientific name, its common name, its habitat, diet, lifespan, and much more. We also include interesting facts and trivia to make your learning experience more enjoyable.
                
                We're constantly updating and expanding our database, so be sure to check back often for new entries and updates. We're excited to share our love of animals with you. Welcome to the Animal Database!</p>
        </div>
    </div>

   
   
</body>
</html>
    
{% endblock %} 